#img{
   padding: 0px 500px 0px 500px;
}
#arrow.carousel-control-next-icon{
    background-color:purple;
}
#arrow.carousel-control-prev-icon{
    background-color:purple;
}


.yukari{
    position: fixed;
    bottom: 10px;
    right: 10px;

}